<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <test name="LoginTests">
        <classes>
            <class name="openMRS.webautomation.WebDriverTest">
                <methods>
                    <include name="TestHello"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
